@media screen and (max-width:400px){
   .topArea{
      width: 100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .scoreArea{
      position: absolute;
      top: 120px;
   }
   .score{
      font-size: 15px;
   }
   #winsFighter1, #winsFighter2{
      font-size: 20px;
   }
   #reset{
      font-size: 15px;
      padding: 5px;
   }
   .fightBox{
      margin-top: 100px;
   }
}
@media screen and (min-width:1500px) and (max-width: 1750px){
   #fightArea{
      margin-top: 10px;
   }
   .imgArea{
      height: 260px;
      margin-top: 15px;
   }
   .attackBtn{
      font-size: 22px;
      padding: 8px 10px;
   }
   .log{
      height: 250px;
   }
}
@media screen and (min-width:1751px){
   #fightArea{
      margin-top: 20px;
   }
   .imgArea{
      height: 260px;
      margin-top: 40px;
   }
   .log{
      height: 330px;
      font-size: 20px;
   }
}